.review {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__customer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
