.button {
  &__link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  &__text {
    line-height: normal;
  }
}
